:root {
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1D1E23;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5;
}

.container {
    padding-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FCFCFC;
    background-color: #23262B;
}

.container .header_left h4 {
    margin: 0;
    font-size: 30px;
}

.container .header_left .status {
    color: #ADB0B8;
}

.container .header_left {
    float: left;
    margin-right: 3rem;
}

.container .header_right {
    float: right;
    margin-left: 3rem;
}

.container .header_left ul {
    list-style: none;
}

.container .header_left ul a {
    text-decoration: none;
    color: #ADB0B8;
}

.container .header_left ul li {
    display: inline-block;
    padding: 5px;
}

.container .header_left ul a:hover {
    color: #00ffff;
    transition: all ease-in-out .5s;
}

#projects_title {
    color: #FCFCFC;
    font-size: 30px;
    margin-top: 1em;
    margin-left: 1em;
}

.grid {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    place-items: center;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.grid a {
    text-decoration: none;
}

.grid .content {
    text-align: center;
    border-radius: 10px;
    background-color: #33363C;
    color: #FCFCFC;
    padding-bottom: 10px;
    max-height: 100%;
    max-width: 100%;
}

.grid .content:hover {
    transition: all ease-in-out 1s;
    transform: scale(1.05);
    cursor: pointer;
}

.grid .content img {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
    color: #FCFCFC;
    text-align: center;
}